<div class="content-document-gobackpreview-button">
    <p><a href="/documentPreview" id="content-go-back-preview">Back</a></p>
</div>

<button class="open-button" data-toggle="modal" data-target="#myModal" style="float: right">Open Form</button>


<div class="modal-content">
    <div class="note" style="border-style: double;">
        <div class="wmd-button-bar btr-sm" id="bar-button" style="padding-top: 5px;">
            <div class="note-btn-group btn-group note-font">
                <button id="bold" class="note-btn btn btn-default btn-sm note-btn-bold" type="button" data-role='bold'>
                            <i class="note-icon-bold"></i>
                        </button>
                <button id="italic" class="note-btn btn btn-default btn-sm note-btn-italic" type="button" data-role='italic'>
                            <i class="note-icon-italic" ></i>
                        </button>
                <button id="underline" class="note-btn btn btn-default btn-sm note-btn-underline" type="button" data-role='underline'>
                            <i class="note-icon-underline"></i>
                        </button>
            </div>

            <div class="note-btn-group btn-group note-fontname">
                <button type="button" class="note-btn btn btn-default btn-sm dropdown-toggle">
                            <span class="note-current-fontname">Font</span>
                        </button>

            </div>

            <div class="note-btn-group btn-group note-color">
                <div class="note-btn-group btn-group note-color note-color-all">
                    <button type="button" style="padding: 5px 10px;" class="note-btn btn btn-default btn-sm note-current-color-button">
                                    <i class="note-icon-font note-recent-color" ></i>
                        </button>
                    <button type="button" class="note-btn btn btn-default btn-sm dropdown-toggle" role="button">
                            
                        </button>
                </div>

            </div>

            <div class="note-btn-group btn-group note-para">
                <button type="button" class="note-btn btn btn-default btn-sm">
                                <i class="note-icon-unorderedlist"></i>
                        </button>
                <button type="button" class="note-btn btn btn-default btn-sm">
                                <i class="note-icon-orderedlist"></i>
                        </button>

                <button type="button" class="note-btn btn btn-default btn-sm dropdown-toggle">
                                <i class="note-icon-align-left"></i>
                            
                        </button>


            </div>

        </div>
        <div id="text" class="editor-content" contenteditable style="height: 17rem;">
        </div>
    </div>
    <div class="d-flex" style="justify-content: flex-end">
        <button type="submit" class="btn" id="close-modal" data-dismiss="modal">Close</button>
        <button type="submit" class="btn" id="send-modal">Send Mail</button>
        <button type="submit" class="btn" id="save-button">Save</button>
    </div>

</div>