// component css goes here
.content-form-group {
    margin-top: 10px
}

.content-show-preview {
    display: block;
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

#content-preview {
    width: 100%;
    height: 100%;
}

fieldset {
    min-width: 0;
    padding: 60px;
    margin: 60px;
    border: 0;
}

.content-document-goback-button {
    float: left;
}

.content-form-inline {
    margin-top: 5px;
    float: right;
}

.content-comment-form {
    padding-top: 0px;
    margin-top: 15px;
}

#comment-area {
    resize: none;
    padding: 20px;
    height: 130px;
    width: 100%;
    border: 1px solid #F2F2F2;
}