<!--component html goes here -->

<div class="container">
    <div class="content-document-goback-button">
        <p><a href="/document" id="content-go-back-create">Back</a></p>
    </div>

    <br>

    <div class="content-show-preview">
        <div id="content-preview"></div>
    </div>

    <body ng-app>
        <div class="container">

            <form>
                <div class="row">
                    <!--UserPicture-->
                    <div class="col-md-1" style="padding: 13px">
                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" id="user_img" class="img img-rounded img-fluid" />
                    </div>
                    <div class="col-md-10">
                        <form id="comment-form">
                            <div class="content-form-group">
                                <textarea class="form-control" name="comment" id="comment_area" placeholder="leave your comment here..." class="form-control "></textarea>
                            </div>
                        </form>

                        <form style="margin-top: 15px;">
                            <!--Browse-->
                            <div class="image-upload">
                                <label for="file">
                                            <img src="assets/imgs/previewPage/clip.svg" style="width: 10px;"/>
                                            </label>
                                <label class="question-icon" style="margin-left: 10px">
                                                <img id="button-question" src="assets/imgs/previewPage/@.svg" >
                                            </label>

                                <input type="file" id="file" style=" margin-left: 10px;">
                                <button type="submit" class="btn btn-primary" id="submit-comment">Post Comment</button>
                            </div>
                        </form>
                    </div>
                </div>
            </form>
            <div class="card-action">
                <ul class="collection">
                    <!-- comment จะอยู่ตรงนี้ -->
                </ul>
            </div>

        </div>

    </body>
    <button class="open-button" data-toggle="modal" data-target="#myModal" style="float: right"><i class="glyphicon glyphicon-pencil"></i></button>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="summernote">Hello Summernote</div>
                <div class="d-flex" style="justify-content: flex-end">
                    <button type="submit" class="btn" id="close-modal" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn" id="send-modal">Send Mail</button>
                    <button type="submit" class="btn" id="save-button">Save</button>
                </div>
            </div>

        </div>

    </div>

    <!-- <div class="document-note-button">
        <p><a href="/note" id="note">Note</a></p>
    </div> -->