// component css goes here
.content-form-group {
    margin-top: 10px
}

.content-show-preview {
    display: block;
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

#content-preview {
    width: 100%;
    height: 100%;
}

fieldset {
    min-width: 0;
    padding: 60px;
    margin: 60px;
    border: 0;
}

.content-document-goback-button {
    float: left;
}

.content-form-inline {
    margin-top: 5px;
    float: right;
}

.content-comment-form {
    padding-top: 0px;
    margin-top: 15px;
}

#comment-area {
    resize: none;
    padding: 20px;
    height: 130px;
    width: 100%;
    border: 1px solid #F2F2F2;
}

#bar-button {
    height: 40px;
    padding-top: 10px;
    background: #e9ecef;
}

.editor-content {
    padding: 10px;
    outline: none;
    min-height: 80px;
    border-radius: 0px 0px 5px 5px;
}

#close-modal {
    width: 115px;
    background-color: cornflowerblue;
    color: white;
    margin-right: 10px;
    height: 40px;
}

#save-button {
    width: 115px;
    background-color: cornflowerblue;
    color: white;
    margin-right: 10px;
    height: 40px;
}

#send-modal {
    width: 115px;
    background-color: cornflowerblue;
    color: white;
    margin-right: 10px;
    height: 40px;
}

.image-upload>input {
    display: none;
}

.image-upload {
    padding-left: 10px;
}

#submit-comment {
    float: right;
    width: 12rem;
    height: 2rem;
    border-radius: 15px;
    font-size: 13px;
}