<!--component html goes here -->

<div class="container">
    <div class="content-document-goback-button">
        <p><a href="/document" id="content-go-back-create">Back</a></p>
    </div>

    <br>

    <div class="content-show-preview">
        <div id="content-preview"></div>
    </div>

    <body ng-app>
        <div class="container">
            <div class="form-group">
                <form ng-controller="Controller">
                    <div class="row">
                        <!--UserPicture-->
                        <div class="col-md-1" style="padding: 13px">
                            <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" style="max-width: 90%;    margin-top: 0px;" />
                        </div>
                        <div class="col-md-10">
                            <div class="content-form-group">
                                <textarea ng-model="cmtName" id="comment_area" style="height: 80px;background-color: #F8F8F8  " placeholder="leave your comment here..." class="form-control "></textarea>
                            </div>
                            <form style="margin-top: 15px;">
                                <!--Browse-->
                                <div class="image-upload">
                                    <label for="file">
                                        <img src="assets/imgs/previewPage/clip.svg" style="width: 10px;"/>
                                    </label>
                                    <label class="question-icon" style="margin-left: 10px">
                                        <img id="button-question" src="assets/imgs/previewPage/@.svg"style="width: 15px;margin-left: 15x;" >
                                    </label>

                                    <input type="file" id="file" style=" margin-left: 10px;">
                                    <button type="button" ng-click='btn_post();' class="btn btn-primary" id="submit-comment">Post Comment</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br/>
                    <hr/>
                    <!--RepliedComment-->
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="cmt in comments">
                            <!--Model Reply-->
                            <div class="card-body" style="font-size: 13px">
                                <div class="row">
                                    <!--UserPicture-->
                                    <div class="col-md-1" style="padding: 13px">
                                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" style="max-width: 90%;    margin-top: 0px;" />
                                    </div>
                                    <div class="col-md-10">
                                        <!--Name-->
                                        <p><a class="float-left"><strong>Name</strong></a></p>
                                        <div class="clearfix"></div>
                                        <!--Comment-->
                                        <p style="margin-top: 10px">{{cmt}}</p>
                                        <!--Like&Reply-->
                                        <p><span><a class="float-left text-info "> <i id="content-like" href="#"></i>Like</a></span>
                                            <a class="float-left text-info " style=" padding-left: 10px;"> <i class="content-reply"></i> Reply</a>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>
                    <!--End Reply Model-->
                </form>
            </div>

        </div>
    </body>

</div>


<button class="open-button" data-toggle="modal" data-target="#myModal" style="float: right">Open Form</button>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="note" style="border-style: double;">
                <div class="wmd-button-bar btr-sm" id="bar-button" style="padding-top: 5px;">
                    <button id="bold" type="button" data-role='bold' style="width: 8%;border-radius: 7px;background-color: white;">B</button>
                    <button id="italic" type="button" data-role='italic' style="width: 8%;border-radius: 7px;background-color: white;">I</button>
                    <button id="underline" type="button" data-role='underline' style="width: 8%;border-radius: 7px;background-color: white;">U</button>
                    <button type="button" style="margin-left: 5px;border-radius: 7px;background-color: white;" class="dropdown-toggle">Font size</button>
                    <button type="button" style="margin-left: 5px;border-radius: 7px;background-color: white;" class="dropdown-toggle">A</button>
                    <button type="button" style="width: 8%; margin-left: 5px;border-radius: 7px;background-color: white;">A</button>
                    <button type="button" style="width: 8%;border-radius: 7px;background-color: white; ">A</button>
                    <button type="button" style="width: 8%;border-radius:7px;background-color: white; ">A</button>
                    <button type="button" style="width: 8%;border-radius: 7px; margin-left: 5px;background-color: white;">A</button>
                </div>
                <div id="text" class="editor-content" contenteditable style="height: 17rem;">
                </div>
            </div>
            <div class="d-flex" style="justify-content: flex-end">
                <button type="submit" class="btn" id="close-modal" data-dismiss="modal">Close</button>
                <button type="submit" class="btn" id="send-modal">Send Mail</button>
                <button type="submit" class="btn" id="save-button">Save</button>
            </div>

        </div>
    </div>
</div>