<!--component html goes here -->


<div class="container">
    <div class="content-document-goback-button">
        <p><a href="/document" id="content-go-back-create">Back</a></p>
    </div>

    <br>

    <div class="content-show-preview">
        <div id="content-preview"></div>
    </div>


    <!--Reply Tab-->
    <div class="card-body">
        <div class="row">
            <!--UserProfile-->
            <div class="col-md-2" style="padding: 13px">
                <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" />
            </div>
            <!--Reply-->
            <div class="col-md-10">
                <p>
                    <a class="float-left" href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Maniruzzaman Akash</strong></a>
                </p>
                <div class="clearfix"></div>
                <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                    recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <p>
                    <a class="float-left "> <i class="content-reply"></i> Reply</a>
                    <a class="float-left text-danger " style=" padding-left: 10px;"> <i class="content-like"></i> Like</a>

                </p>
            </div>
        </div>
        <!--inner reply-->
        <div class="card card-inner " style="margin-left:50px; font-size: smaller">
            <div class="card-body">
                <div class="row">
                    <!--UserProfile-->
                    <div class="col-md-2" style="padding: 13px">
                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" />
                    </div>
                    <!--Reply-->
                    <div class="col-md-10">
                        <p>
                            <a class="float-left" href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Maniruzzaman Akash</strong></a>
                        </p>
                        <div class="clearfix"></div>
                        <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <p>
                            <a class="float-left "> <i class="content-reply"></i> Reply</a>
                            <a class="float-left text-danger " style=" padding-left: 10px;"> <i class="content-like"></i> Like</a>

                        </p>
                    </div>
                </div>
            </div>
        </div>

        <form class="content-comment-form">

            <fieldset style="padding-top: 0px; margin-top: 15px;">
                <!--CommentArea-->
                <div class="content-form-group">
                    <textarea ng-model="data.comment-area" name="comment-area" id="comment-area" placeholder="Write Your Comment" class="form-control"></textarea>
                </div>

                <!--Btn Submit-->
                <button type="submit" class="btn btn-primary" id="submit-comment">Submit</button>
                <!--Question-Icon-->
                <button type="button" class="btn btn-primary" id="button-question">Make ?</button>

            </fieldset>
        </form>


    </div>


</div>