//custome boostap css
.progress {
    border-radius: 0 !important;
    height: 5px;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

// component css goes here
.alert-fixed {
    position: fixed;
    bottom: 0;
    right: 1%;
}

.document-navbar {
    height: 55px;
}

.document-sidenav {
    height: 100%;
    width: 100%;
    background-color: #EDF0F2;
    overflow: hidden;
}

.document-sidenav-content {
    height: 100%;
    width: 98%;
    background: white;
    & .sidenav-content-list {
        position: relative;
        & .sidenav-content-line {
            position: absolute;
            height: 100%;
            width: 1.5px;
            background: red;
        }
        & .sidenav-content-sublist:before {
            content: "━";
            font-size: 8px;
            position: absolute;
            top: 6px;
            left: 10px;
        }
    }
}

.document-sidenav-btnNav {
    & .arrow-custome {
        font-size: 1.5em;
        cursor: pointer;
    }
}

.document-sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}

.document-form-select {
    padding: 1% 1% 0%;
    align-items: center;
    cursor: pointer;
    // justify-content: space-around;
    img:first-child {
        height: 50px;
        width: 50px;
    }
    img {
        height: 75px;
        width: 75px;
        margin-left: 2%;
    }
}

.document-select-custome {
    width: 200px;
    background: transparent;
    outline: 0;
    border-color: white;
}

.document-sidenav a:hover {}

.document-preview-comment {
    height: 36%;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 1rem;
    & .comment-header {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }
    & .comment-form {
        height: 100%;
        &.submit {
            border-bottom: solid 1.5px #EDEDED;
        }
    }
    & .comment-profile {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        &.icon {
            border-radius: 50%;
            background: #E6E7E2;
        }
        & img {
            width: 70%;
        }
    }
    & .comment-textarea {
        border: none;
        width: 100%;
        height: 100%;
        font-size: 1.2rem;
        &::placeholder {
            color: #D9D9D9;
        }
    }
    & .comment-tool {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        &.attach {
            border-radius: 50%;
            background: #E6E7E2;
        }
        & img {
            width: 70%;
        }
    }
}

.document-preview-content {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}