//custome boostap css
.progress {
    border-radius: 0 !important;
    height: 5px;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

// component css goes here
.alert-fixed {
    position: fixed;
    bottom: 0;
    right: 1%;
}

.document-navbar {
    height: 55px;
}

.document-sidenav,
.document-sidetool {
    height: 100%;
    width: 100%;
    background-color: #EDF0F2;
    overflow: hidden;
}

.document-sidetool {
    background-color: white;
}

.document-sidenav-content,
.document-sidetool-content {
    height: 100%;
    width: 98%;
    background: white;
    & li {
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
        & img {
            cursor: pointer;
            width: 40%;
        }
    }
    & .sidenav-content-list {
        position: relative;
        & .sidenav-content-line {
            position: absolute;
            height: 100%;
            width: 1.5px;
            background: red;
        }
        & .sidenav-content-sublist:before {
            content: "━";
            font-size: 8px;
            position: absolute;
            top: 6px;
            left: 10px;
        }
    }
}

.document-sidenav-btnNav {
    & .arrow-custome {
        font-size: 1.5em;
        cursor: pointer;
    }
}

.document-sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}

.document-form-select {
    padding: 1% 1% 0%;
    align-items: center;
    cursor: pointer;
    // justify-content: space-around;
    img:first-child {
        height: 50px;
        width: 50px;
    }
    img {
        height: 75px;
        width: 75px;
        margin-left: 2%;
    }
}

.document-select-custome {
    width: 200px;
    background: transparent;
    outline: 0;
    border-color: white;
}

.document-sidenav a:hover {}

.document-preview-content {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    max-width: 100%;
    height: 100vh;
    position: relative;
    // overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    // // overflow-y: scroll;
    // overflow-x: hidden;
}