<!--component html goes here -->



<div #contentContainer id="content-container" class="content-container">
    <ng-template ad-host></ng-template>


    <!-- <div element-name="content-container-page" #contentTemplate id="contentTemplate" class="content-template content-template-create"> -->




    <div #contentContainerOption class="full-screen border-left container-option-content">
        <div #contentOptionTool class="full-screen content-option-tool">

        </div>

    </div>


</div>


<!-- <div class="row  h-100">
    <div class="col-11 pl-2 pr-2 col-ruler" style="height: 65px;">
        <range-slider-page class="full-screen" [rulerDetailSubject]="rulerDetailSubject" (eventToParent)="eventFromChild($event)"></range-slider-page>
    </div>
    <div class="col-11 pl-2 pr-2 h-100 col-template">

        <div class="dropdown-menu dropdown-menu-sm cursor-pointer " id="context-menu">
            <a class="dropdown-item" *ngFor="let context of ContextMenuList" (click)="handleContextMenu(context)">{{context.name}}</a>
        </div>
        <div class="container-content">
            <div #contentTemplate id="contentTemplate" class="content-template content-template-create">
            </div>
        </div>
    </div>
    <div class="full-screen border-left container-option-content col-1">
        <div #contentOptionTool class="full-screen content-option-tool">
       
        </div>

    </div>
</div> -->



<!-- 
<div id="attach-file-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">


        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div> -->