//custome bootstrap css
.list-group-item {
    user-select: none;
}

.list-group input[type="checkbox"] {
    display: none;
}

.list-group input[type="checkbox"]+.list-group-item {
    cursor: pointer;
}

.list-group input[type="checkbox"]+.list-group-item:before {
    content: "\2713";
    color: transparent;
    font-weight: bold;
    margin-right: 1em;
}

.list-group input[type="checkbox"]:checked+.list-group-item {
    background-color: #0275D8;
    border-radius: 0;
    color: #FFF;
}

.list-group input[type="checkbox"]:checked+.list-group-item:before {
    color: inherit;
}

// component css goes here
.bg-test {
    background: red;
    cursor: col-resize;
}

.row {
    height: 30%;
}

[class*="col"] {
    padding: 0;
}

.container-content {
    padding: 10px;
    height: 100%;
    width: 100%;
}

.content-template {
    height: 80%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    &.content-template-create {
        border: 2px dashed #C9C9C9;
        background: #F8F8F8;
    }
}

.content-box {
    //float: left;
    width: 100%;
    height: 100%;
    border: solid 1px #ccc;
    color: black;
    // color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    // border-radius: 4px;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    &.content-box-active {
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
    &.box-browse-file-size {
        min-width: 300px !important;
        min-height: 300px !important;
    }
    &.box-browse-video-size {
        min-width: 540px !important;
        min-height: 300px !important;
    }
}

//css content in box
.content-toolbar {
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    margin: 0;
    cursor: pointer;
    position: absolute;
    height: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    &.toolbar-inital {
        padding: 1.250rem 1.250rem 0 1.250rem;
        .toolbar-function {
            width: 23px;
            margin-right: 1rem;
            float: right;
        }
        .toolbar-picker {
            width: 180px;
            float: left;
        }
        img {
            height: 23px;
        }
    }
    &.toolbar-browse-file {
        height: 100%;
        img {
            width: 80px;
            height: 80px;
            margin-bottom: 25px;
        }
    }
    &.toolbar-browse-video {
        height: 100%;
        display: flexbox;
        img {
            width: 80px;
            height: 80px;
            margin-bottom: 25px;
        }
        .toolbar-drag {}
    }
    &.toolbar-cancel {
        height: 50px;
        .toolbar-function {
            color: black;
            width: 18px;
            margin-top: -1rem;
            margin-right: 0.1rem;
            float: right;
        }
    }
    ;
    &.toolbar-subform {
        display: initial;
        height: 100%;
        position: relative;
    }
}

.content-textarea {
    background: transparent;
    border: none;
}

.content-img {
    width: 100%;
    height: 100%;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
}

.content-video {
    object-fit: fill;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.content-browse-file,
.content-browse-video {
    display: none;
}

.content-subform {
    width: 100%;
    text-align: left;
}

// css extend and overwrite global
.nav-footer-custome {
    position: absolute;
    bottom: 4%;
}

// video::-webkit-media-controls-fullscreen-button,
// video::-webkit-media-controls-play-button,
// video::-webkit-media-controls-pausebutton {
//     display: none;
// }