<!--component html goes here -->
<div class="row max-height">
    <div class="col-10 pl-3">
        <div class="container-content">
            <div #contentTemplate id="contentTemplate" class="content-template content-template-create">

            </div>

        </div>
    </div>
    <div class="full-screen border-left container-option-content">
        <div #contentOptionTool class="full-screen content-option-tool">
            <!-- <div class="row p-0 m-0 mt-3">
                <div class="col-12 d-flex justify-content-center border-bottom">
                    <div class="form-group w-70 text-center">
                        <label>Style</label>
                        <select class="form-control" id="sel1">
                              <option>1</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center border-bottom">
                    <div class="form-group w-70 text-center">
                        <label class="mt-2">Character</label>

                        <select class="form-control mb-2" id="sel1">
                                          <option>1</option>
                                    </select>
                        <select class="form-control" id="sel1">
                                          <option>1</option>
                                    </select>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center border-bottom">
                    <div class="form-group w-70 text-center">
                        <label class="mt-2">Paragraph</label>
                        <div class="row">
                            <div class="col-3">
                                <img src="assets/imgs/contentPage/optionTool/left-alignment.svg">
                            </div>
                            <div class="col-3">
                                <img src="assets/imgs/contentPage/optionTool/center-alignment.svg">
                            </div>
                            <div class="col-3">
                                <img src="assets/imgs/contentPage/optionTool/right-alignment.svg">
                            </div>
                            <div class="col-3">
                                <img src="assets/imgs/contentPage/optionTool/justify.svg">
                            </div>
                        </div>

                    </div>
                </div>
            </div> -->



        </div>

    </div>
</div>



<!-- 
<div id="attach-file-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">


        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div> -->