<div class="row m-0 p-0" style="height: auto ">
    <div class="col-1 form-group m-0 p-0 text-center">
        textSize
        <select (ngModelChange)="changeTextSize($event)" [(ngModel)]="textSize" class="form-control" id="exampleFormControlSelect2">
            <option *ngFor="let textSize of textSizeList" value="{{textSize}}">{{textSize}}</option>
        </select>
    </div>
    <div id="option-color" class="col-1 form-group m-0 p-0 text-center" style="background: red">


    </div>
</div>
<br>
<!-- <button (click)="undo()">undo</button> -->

<!-- <div class="border" id="template-doc" style="height:500px" contenteditable>

</div> -->
<div id='template-container' style="height: 50%">
    <ckeditor id="template-doc" data="<p>Hello, world!</p>"></ckeditor>
</div>