section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-file {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}