<!-- <nav class="document-navbar navbar navbar-expand-sm bg-primary-2">

    <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link text-white" (click)="backToDocumentHome()" href="javascript:void(0)">
                <i *ngIf="!isUrlChannel" style="font-size:2em" class="fa fa-angle-left  arrow-custome text-white"></i>
            </a>
        </li>
    </ul>
</nav> -->
<div #documentPreviewContent class="document-preview-content">
    <div id="contentTemplate">
        <loading-page></loading-page>
    </div>
</div>

<!-- <div class="document-preview-comment">
    <div class="row comment-form submit">
        <div class="col-12">
            <p class="text-darkGrey comment-header">Comments</p>
            <div class="row">
                <div class="col-md-1 col-sm-2 pl-3">
                    <div class="comment-profile icon">
                        <img src="assets/imgs/documentPage/profileIcon.svg">
                    </div>
                </div>
                <div class="col-10 pt-3">
                    <textarea placeholder="Leave your comment here..." class="comment-textarea"></textarea>
                </div>
                <div class="col-12 pr-3">
                    <div class="comment-tool attach">
                        <img src="assets/imgs/documentPage/attachment.svg">
                    </div>

                    <button type="button" class="btn btn-primary float-right">Post Comment</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

        </div>
    </div>
</div> -->