// component css goes here
.content-template {
    height: 100%;
    width: 100%;
}

.content-box {
    position: absolute;
    //float: left;
    width: 300px;
    height: 300px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    //box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.content-box-active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.content-toolbar {
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    cursor: pointer;
    position: absolute;
    height: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    padding: 20px 20px 0px 20px;
    .toolbar-function {
        width: 23px;
        float: right;
    }
    .toolbar-picker {
        width: 180px;
        float: left;
    }
    img {
        height: 23px;
    }
    //background: red;
}

.content-textarea {
    border: none;
}