/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    width: 100%;
}

textarea {
    resize: none;
    height: 100%;
    width: 100%;
}

div:focus,
textarea:focus,
input:focus {
    outline: none;
}