/* You can add global styles to this file, and also import other style files */

//custom element tag
$font-family:'Kanit';
$font-style:normal;
$font-extra-light:200;
$font-light:300;
$font-regular:400;
$font-medium:500;
$font-semi-bold:600;
$font-bold:700;
$font-extra-bold:800;
$font-black:900;
$color-primary1:#002380;
$color-primary2:#0049B0;
$color-primary3:#5574E3;
$color-primary4:#ffff;
html,
body {
    // height: 100vh;
    // max-height: 100vh;
    // width: 100%;
    // // // overflow-x: hidden;
    overflow-y: hidden;
    // overflow-x: auto;
    height: 100%;
    width: 100%;
    font-size: 16px !important;
    font-family: $font-family !important;
    font-style: $font-style !important;
}

// section {
//     width: 100%;
//     height: 100%;
//     // display: flex;
//     // justify-content: center;
//     // align-items: center;
// }
textarea {
    resize: none;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

li {
    list-style-type: none;
}

p {
    margin: 0;
}

//custome bootstap
.carousel-control-next,
.carousel-control-prev {
    width: 8%;
    z-index: 99999;
}

// css here go
.bg-primary-1 {
    background-color: $color-primary1;
}

.bg-primary-2 {
    background-color: $color-primary2;
}

.bg-primary-3 {
    background-color: $color-primary3;
}

.bg-darkGrey {
    background-color: #484848;
}

.bg-darkBrown {
    background: #404040;
}

.color-primary-1 {
    color: $color-primary4;
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-100 {
    width: 100%;
}

.full-screen {
    width: 100%;
    height: 100%;
}

.text-darkGrey {
    color: #4B4B4B;
}

.text-lightGrey {
    color: #C9C9C9;
}

.text-lightGrey2 {
    color: #9D9E9E;
}

.text-cobalt {
    color: #2866B4
}

.none-height {
    height: 0;
}

.min-height {
    min-height: 100% !important;
}

.max-height {
    height: 100% !important;
}

.half-height {
    height: 50% !important;
}

.nav-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.ui-icon,
.ui-widget-content .ui-icon {
    background-image: none;
}

div:focus,
textarea:focus,
input:focus {
    outline: none;
}

.content-font-title1 {
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
}

.content-font-title1 {
    font-size: 1rem;
}

.content-font-title1 {
    text-align: center;
}

.content-font-title1 {
    font-weight: $font-regular;
}

.content-text {
    //interface of rangy
}

// component css goes here
.bg-test {
    background: red;
    cursor: col-resize;
}

.row {
    // height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.col {
    padding: 0;
}

// [class*="col"] {
//     //display: inherit;
//     padding: 0;
// }
.content-template {
    height: 100%;
    width: 100%;
    position: relative;
}

.content-toolbar {
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    margin: 0;
    cursor: pointer;
    position: absolute;
    height: 100%!important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    &.toolbar-inital {
        padding: 1.250rem 1.250rem 0 1.250rem;
        .toolbar-function {
            width: 23px;
            margin-right: 1rem;
            float: right;
        }
        .toolbar-picker {
            width: 180px;
            float: left;
        }
        img {
            height: 23px;
        }
    }
    &.toolbar-browse-img,
    .toolbar-browse-file {
        height: 100%;
        img {
            width: 40%;
            max-width: 90px;
            // height: 50%;
            margin-bottom: 5%;
        }
    }
    &.toolbar-browse-link {
        align-items: initial;
    }
    &.toolbar-browse-video,
    &.toolbar-browse-img,
    &.toolbar-browse-exam,
    &.toolbar-browse-link {
        height: 100%;
        padding: 0 1em 0 1em;
        display: flexbox;
        // align-items: initial;
        img {
            // width: 80px;
            // height: 80px;
            // margin-bottom: 25px;
            width: 40%;
            max-width: 90px;
            // height: 50%;
            margin-bottom: 5%;
        }
        .toolbar-drag {}
    }
    &.toolbar-browse-exam {
        & .exam-input-title {
            text-align: center;
            border: none;
            outline: 0;
        }
    }
    &.toolbar-cancel {
        height: 50px;
        .toolbar-function {
            position: absolute;
            color: black;
            width: 18px;
            margin-top: -1.3rem;
            right: -5px;
        }
    }
    ;
    &.toolbar-subform {
        display: initial;
        height: 100%;
        & .subform-col {
            height: 65%;
            overflow-y: auto;
        }
        // & .subform-preview {
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        // }
    }
}

.content-textarea {
    text-align: left;
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    cursor: text;
    background: transparent;
    border: none;
}

.content-img {
    width: 100%;
    height: 100%;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
}

.content-file,
.content-link {
    color: #007bff;
    text-decoration: underline;
}

.content-toDoList {
    & .toDoList-list:before {
        content: attr(data-before);
        font-size: 1.5em;
        content: "○";
        color: #0202E9;
    }
    & p {
        font-size: 1.25em;
        display: inline;
        margin: 0;
        margin-left: 5%;
    }
}

.content-video {
    object-fit: fill;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.content-browse-img,
.content-browse-file,
.comment-browse-file,
.content-browse-video {
    display: none;
}

.content-subform {
    width: 100%;
    text-align: left;
}

.content-exam {
    display: flex;
    text-align: center;
    align-items: center;
    height: 100% !important;
    width: 100% !important;
    & .exam-input-title {
        text-align: center;
        border: none;
        outline: 0;
        margin: auto;
        font-size: 1.6em;
        display: block;
    }
}

.content-comment {
    top: 0;
    width: 100%;
    min-height: 100%;
    position: absolute;
    // padding-left: 8rem;
    // padding-right: 8rem;
    // padding-top: 1rem;
    & .comment-header {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }
    & .comment-form {
        // padding-bottom: 3%;
        height: 100%;
        &.submit {
            border-bottom: solid 1.5px #EDEDED;
        }
    }
    & .comment-profile,
    .comment-profile-reply {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        margin-top: 40%;
        &.icon {
            border-radius: 50%;
            background: #E6E7E2;
        }
        & img {
            width: 60%;
        }
    }
    .comment-profile-reply {
        width: 35px;
        height: 35px;
    }
    & .comment-textarea {
        border: none;
        width: 100%;
        height: auto;
        overflow: auto;
        font-size: 1.2rem;
        &::placeholder {
            color: #D9D9D9;
        }
    }
    & .comment-massege-img {
        display: block;
        & img {
            width: 50%;
            height: 50%;
        }
        // & .loading {
        //     width: 50%;
        //     height: 50%;
        // }
    }
    & .comment-tool {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        float: left;
        cursor: pointer;
        margin-left: 2%;
        &.attach {
            border-radius: 50%;
            background: #E6E7E2;
        }
        &.question {
            border-radius: 50%;
            background: transparent;
            & img {
                width: 95%;
            }
        }
        & img {
            width: 70%;
        }
    }
    & .comment-reply,
    .comment-reply-current {
        &.comment-reply-child {
            margin-left: 14% !important;
        }
        & .reply-user-name {
            font-weight: bold;
            font-size: 1.2em;
            text-align: left;
        }
        & .reply-user-massege {
            font-size: 1em;
            text-align: left;
        }
        & .reply-tool {
            & span {
                margin-right: 10%;
                color: #25B7D3;
                cursor: pointer;
            }
        }
        & .reply-user-massege-img {
            display: block;
            & img {
                width: 50%;
                height: 50%;
            }
        }
    }
}

.cke_top {
    Position: sticky;
    top: 0;
}

.content-note {
    position: relative;
    // display: flex;
    width: 100%;
    height: 100%;
    // .note-area {
    //     // top: 25px;
    //     // right: 20px;
    //     padding: 10px;
    //     overflow-x: hidden;
    //     overflow-y: auto;
    //     height: 85%;
    //     // overflow-x: hidden;
    //     overflow-y: auto;
    //     // position: absolute;
    //     // min-width: 100px;
    //     // width: 100%;
    //     // height: 100%;
    //     // min-height: 50px;
    //     max-height: 250px;
    //     outline: none;
    // }
    .note-toolbar {
        & ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }
        & li {
            float: left;
        }
        & li a {
            cursor: pointer;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        & li a:hover {
            background-color: #111;
        }
    }
}

.template-doc {
    width: 100%;
    // min-height: 90vh;
    height: 100%;
    max-height: 100%;
    position: relative;
    word-break: break-all;
    overflow-y: auto;
    overflow-x: hidden;
    // z-index: 10;
    // background: red;
    // position: relative;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
}

video::-webkit-media-controls-fullscreen-button,
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-pausebutton {
    display: none;
}

.item-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* width */

::-webkit-scrollbar {
    width: .8em;
    height: .8em;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

.template-scroll::-webkit-scrollbar-track {
    background: transparent !important;
}


/* Handle */

.template-scroll::-webkit-scrollbar-thumb {
    background: transparent !important;
}

.pointer-events {
    pointer-events: none;
}

.loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

//boostap custom
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}