.loading {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-form-child {
    margin-top: 5%!important;
    margin-left: 14% !important;
}

.comment-reply-child {
    margin-top: 5%!important;
    margin-left: 14% !important;
}

.reply-tool {
    text-align: left;
}