<!--component html goes here -->
<nav class="document-navbar navbar navbar-expand-sm bg-primary-2" [ngStyle]="{'width':currentScreenSize.width+'px'}">
    <ul class="nav navbar-nav mr-auto pl-2">
        <li class="nav-item item-middle cursor-pointer">
            <i (click)="goToHome()" style="font-size:2em" class="fa fa-angle-left  arrow-custome text-white"></i>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white bg-primary-2 pr-4 pl-4" (click)="newDocument()" href="javascript:void(0)">New</a>
        </li>
    </ul>
    <!-- <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link item-middle">
                <div class="spinner-border text-warning" role="status">
                </div>
                <span class="pl-1 text-white">Loading...</span>
            </a>
        </li>
    </ul> -->
    <ul class="nav navbar-nav m-auto d-flex align-items-center">
        <!-- <li class="nav-item">
            <a class="nav-link item-middle">
                <div class="spinner-border text-warning" role="status">
                </div>
                <span class="pl-1 text-white">Loading...</span>
            </a>
        </li> -->
        <li class="nav-item">
            <span class="text-white">
                <input style="background: transparent;border: none"  class="text-white" type="text" [(ngModel)]="currentDocumentName">
            </span>
            <!-- <div class="navbar-form pull-left">
                <select (ngModelChange)="changeDocument($event)" [(ngModel)]="currentDocumentName" class="form-control text-white shadow-none document-select-custome">
                    <option class="text-dark" *ngIf="currentDocumentName =='Blank document'" value="Blank document">Please Select</option>
                    <option class="text-dark" *ngFor="let document of documentNavList" [value]="document.nameDocument">{{document.nameDocument}}</option>
                        </select>
            </div> -->
            <!-- <select [(ngModel)]="currentDocument" multiple class="form-control">
                        <option *ngFor="let document of documentList" [value]="document.nameDocument">{{document.nameDocument}}</option>
                </select> -->
            <!-- <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="documentList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{currentDocument}}
                        </button>
                <div *ngIf="(documentList||[]).length>0" style="z-index: 99999" class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdown-toggle">
                    <button (click)="changeDocument(document.nameDocument)" *ngFor="let document of documentList" class="dropdown-item" [ngClass]="{'active':currentDocument === document.nameDocument}" type="button">{{document.nameDocument}}</button>
                </div>
            </div> -->
            <!-- <a class="nav-link text-white" (click)="newDocument()" href="javascript:void(0)">New</a> -->
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">

        <li class="nav-item">
            <a class="nav-link text-white p-0" (click)="saveDocument(contents.data.savecurrentDoc)" href="javascript:void(0)">
                <img width="40%" src="assets/imgs/documentPage/saveDocument.svg">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white p-0" (click)="previewDocument()" href="javascript:void(0)">
                <img width="40%" src="assets/imgs/documentPage/previewDocument.svg">
            </a>
        </li>
    </ul>

</nav>
<div *ngIf="loading" class="progress">
    <div id="progress-bar" class="bg-warning progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="row min-height m-0" [ngStyle]="{'width':currentScreenSize.width+'px','height':(currentScreenSize.height-55)+'px' }">
    <div id="document-sidenav" [ngStyle]="{'width':isOpenMenu? '200px':'50px'}">
        <div class="document-sidenav">
            <div class="document-sidenav-btnNav p-3 pl-4"><span class="text-lightGrey2" *ngIf="isOpenMenu">Navigation</span> <i (click)="toggleMenu()" class="fa fa-angle-{{isOpenMenu? 'left':'right'}} float-right arrow-custome text-lightGrey2"></i></div>
            <div class="document-sidenav-content pt-3" *ngIf="isOpenMenu">
            </div>
        </div>
    </div>
    <div id="document-sidenav" [ngStyle]="{'width':isOpenMenu? '80px':'50px'}">
        <div class="document-sidetool">
            <div class="document-sidenav-btnNav p-3 pl-4"><span class="text-lightGrey2"></span> </div>
            <div class="document-sidetool-content pt-4">
                <!-- <li class="nav-item d-flex justify-content-center pb-2 pt-2">
                    <img document-data="text-area" draggable="true" (dragstart)="dragTool($event)" src="assets/imgs/contentPage/text-area.svg">
                </li> -->
                <li class="nav-item d-flex justify-content-center pb-2 pt-2">
                    <img document-data="img-browse" (dragstart)="dragTool($event)" src="assets/imgs/contentPage/image-picker.svg">
                </li>
                <li class="nav-item d-flex justify-content-center pb-2 pt-2">
                    <img document-data="file-browse" (dragstart)="dragTool($event)" src="assets/imgs/contentPage/file-picker.svg">
                </li>
                <li class="nav-item d-flex justify-content-center pb-2 pt-2">
                    <img document-data="video-browse" (dragstart)="dragTool($event)" src="assets/imgs/contentPage/video-camera.svg">
                </li>
                <li class="nav-item d-flex justify-content-center pb-2 pt-2">
                    <img document-data="subform" (dragstart)="dragTool($event)" src="assets/imgs/contentPage/subform.svg">
                </li>
                <li class="nav-item d-flex justify-content-center pb-2 pt-2">
                    <img class="w-10" document-data="link-browse" (dragstart)="dragTool($event)" src="assets/imgs/contentPage/link.svg">
                </li>
                <li class="nav-item d-flex justify-content-center pb-2 pt-2">
                    <img class="w-50" document-data="progress-bar" (dragstart)="dragTool($event)" src="assets/imgs/contentPage/progress-bar.svg">
                </li>
                <li class="nav-item d-flex justify-content-center pb-2 pt-2">
                    <img document-data="comment" (dragstart)="dragTool($event)" src="assets/imgs/contentPage/comment.svg">
                </li>
                <li class="nav-item d-flex justify-content-center pb-2 pt-2">
                    <img document-data="todo-list" (dragstart)="dragTool($event)" src="assets/imgs/contentPage/todo-list.svg">
                </li>
                <li class="nav-item d-flex justify-content-center pb-2 pt-2">
                    <img class="w-40" document-data="exam" (dragstart)="dragTool($event)" src="assets/imgs/contentPage/exam.svg">
                </li>


            </div>
        </div>
    </div>
    <div class="col">
        <!-- <nav class="document-navbar navbar navbar-expand-sm"></nav> -->
        <!-- <div class="document-form-select">
            <img src="assets\imgs\documentPage\plus.svg">
            <img src="assets\imgs\documentPage\content1.svg" (click)="createContent(contentTypes.oneLayout)">
            <img src="assets\imgs\documentPage\content2.svg" (click)="createContent(contentTypes.twoLayout)">
            <img src="assets\imgs\documentPage\content3.svg" (click)="createContent(contentType.twoLayoutHorizontal)">
            <img src="assets\imgs\documentPage\content4.svg" (click)="createContent(contentTypes.threeLayout)">
            <img src="assets\imgs\documentPage\content5.svg" (click)="createContent(contentTypes.fourLayout)">
            <img src="assets\imgs\documentPage\content6.svg" (click)="createContent(contentTypes.freedomLayout)">

        </div> -->

        <create-content-page (drop)="dropTool($event)" (dragover)="$event.preventDefault()" [dropElement]="dropElement" [contentElement]="contentElement" [contentTypeSelected]="contentTypeSelected" [triggerElement]="triggerElement" (eventToParent)="eventFromChild($event)"></create-content-page>
        <document-modal-page [triggerModal]="triggerModal" (eventModal)="eventModal($event)"></document-modal-page>
    </div>
    <div *ngIf="loading" class="alert alert-fixed" role="alert">
        <a href="#" class="alert-link item-middle">
            <div class="spinner-border text-warning" role="status">
            </div>
            <span class="pl-1 text-dark">Loading...</span>
        </a>
    </div>
</div>