//custome boostap css
.progress {
    border-radius: 0 !important;
    height: 5px;
}

// component css goes here
.document-navbar {
    height: 8vh;
}

.document-bg-darkGrey {
    background-color: #484848;
}

.document-sidenav {
    height: 100%;
    width: 100%;
    background-color: #EDF0F2;
    overflow: hidden;
}

.document-sidenav-content {
    height: 100%;
    width: 98%;
    background: white;
}

.document-sidenav-btnNav {
    & .arrow-custome {
        font-size: 1.5em;
        cursor: pointer;
    }
}

.document-sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}

.document-form-select {
    padding: 30px;
    align-items: center;
    width: 700px;
    display: flex;
    cursor: pointer;
    justify-content: space-around;
    img:first-child {
        height: 50px;
        width: 50px;
    }
    img {
        height: 75px;
        width: 75px;
    }
}

.document-sidenav a:hover {}

.document-preview-button {
    float: right;
}