<!--component html goes here -->
<button type="button" (click)="changeColor1()">red color1</button>
<button type="button" (click)="changeColor2()">blue color2</button>

<button type="button" (click)="changeBold()">text bold</button>
<button type="button" (click)="changeFontStyle()">font style</button>


<button type="button" (click)="changeAlign('left')">left</button>
<button type="button" (click)="changeAlign('center')">center</button>
<button type="button" (click)="changeAlign('right')">right</button>
<!-- <div class="content-box"></div> -->

<div contenteditable id="editor1" class="box" style="width: 1000px;margin: auto;">

    <!-- <div draggable="true" class="content content-box"></div> -->
    <!-- <div draggable="true" class="content content-box1"></div>
    <div draggable="true" class="content content-box"></div> -->

    <!-- <div draggable="true" class="content content-box"></div>
    <div draggable="true" class="content content-box"></div> -->
    <!-- <div draggable="true" class="content content-box"></div> -->
    <!-- <div draggable="true" class="content content-box1"></div> -->
</div>