// component css goes here
.box {
    width: 100%;
    height: 100%;
}

.content-box {
    width: 150px;
    height: 150px;
    z-index: 55;
    background: red;
    position: absolute;
}

.content-box1 {
    left: 50px;
    width: 150px;
    height: 150px;
    z-index: 55;
    background: green;
    position: absolute;
}

.content-box2 {
    left: 150px;
    width: 150px;
    height: 150px;
    z-index: 55;
    background: orange;
    position: absolute;
}